<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>

	<title>  District - Corporate Responsive Email Template</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <meta content="text/html;charset=utf-8" http-equiv="content-type">
     <link href='http://fonts.googleapis.com/css?family=Raleway:400,500, 700' rel='stylesheet' type='text/css'>
     <link href='http://fonts.googleapis.com/css?family=Lato:400,500, 700' rel='stylesheet' type='text/css'>

<style type="text/css">

    @charset "utf-8";
    /* CSS Document */
    
    @font-face {
	 font-family: 'Raleway', sans-serif;
    }
    @font-face {
	 font-family: 'Lato', sans-serif;
    }
    
    @media screen and (max-width: 768px) and (min-width: 381px) {
	    body {
		    margin: 0 auto !important;
		    width: 600px !important;
	    }
	    .wrapper_table {
		    width: 600px !important;
		    margin:0 auto;
		    text-align:center;
	    }
	    .padding {
		    width: 20px !important;
	    }
	    .logo{
		    width: 200px !important;
	    }
	    .navbar{
		    width: 400px !important;
	    }
	    .content{
		    width: 600px !important;
	    }
	    .content_row {
		    width: 560px !important;
	    }
	    .content_row_inner {
		    width: 520px !important;
	    }
	    .one_third {
		    width: 170px !important;
		    margin-bottom: 30px;
	    }
	    .one_third img {
		    max-width: 170px !important;
		    height: auto !important;
	    }
	    .one_half {
		    width: 270px !important;
	    }
	    .one_half img {
		    max-width: 270px !important;
		    height: auto !important;
	    }
	    .noresponsive {
		    display: none;
	    }
	    .content_row img {
		    max-width: 560px;
		    height: auto !important;
	    }
	    
	    .fullwidth_image {
		    max-width: 600px;
	    }
	    .one_fourth {
		    width: 140px !important;
	    }
	    .header_third_space {
		    width: 20px !important;
	    }
    }
    @media screen and (max-width: 391px) {
	    
	    body {
		    margin: 0 auto !important;
		    width: 320px !important;
	    }
	    
	    table[class="wrapper_table"] {
		    width: 320px !important;
	    }
	    
	    img[class="fullwidth_image"] {
		    max-width: 320px !important;
		    height: auto !important
	    }
	    
	    td[class="padding"] {
		    width: 10px !important;
	    }
	    
	    td[class="content"] {
		    width: 320px !important;
	    }
	    
	    td[class="content_row"] {
		    width: 300px !important;
	    }
	    
	    td[class="content_row_inner"] {
		    width: 280px !important;
	    }
	    
	    td[class="logo"] img {
		    margin: 0 auto !important;
	    }
	    
	    td[class="logo"] {
		    margin: 0 auto;
		    width: 300px !important;
		    float: left;
		    margin-bottom: 15px;
	    }
	    
	    td[class="navbar"] {
		    float: left;
		    width: 300px !important;
		    margin-bottom: 15px;
		    text-align: center !important;
	    }
	    
	    td[class="header_right"] {
		    width: 300px !important;
		    float: left;
		    margin-bottom: 10px;
		    text-align: center;
	    }
	    
	    table[class="mobile_centered_table"] {
		    margin: 0 auto !important;
		    text-align: center !important;
	    }
	    
	    td[class="one_third"] {
		    display: block;
		    width: 300px !important;
		    margin-bottom: 30px;
		    text-align: center !important;
	    }
	    
	    td[class="one_third"] img {
		    margin: 0 auto;
		    max-width: 300px !important;
		    height: auto !important;
	    }
	    
	    td[class="one_third"] td[class="noresize"] {
		    margin: 0 auto;
	    }
	    
	    td[class="one_third_spacer"] {
		    display: none;
	    }
	    
	    td[class="one_half"] {
		    width: 300px !important;
		    display: block;
		    margin-bottom: 20px;
		    text-align: center;
	    }
	    
	    td[class="one_quarter"] {
		    width: 130px !important;
		    text-align: center;
	    }
	    
	    td[class="one_half_spacer"] {
		    display: none;
	    }
	    
	    td[class="one_half"] img{
		    margin: 0 auto;
		    max-width: 300px !important;
		    height: auto !important;
	    }
	    
	    td[class="text_center"] {
		    text-align: center !important;
	    }
	    td[class="round_social_button"] img{
		    width: 45px !important;
		    height: auto !important;
	    }
	    table[id="social_bg"]{
		    padding: 0 10px;
	    }
	    td[class="header_third_space"]{
		    display: none;
	    }
    }
    
    @media screen and (max-width: 391px) {
	    td[class="nomobile"] {
		    display: none !important;
	    }
	    td[class="noresponsive"] {
		    display: none;
	    }
	    span[class="huge_h"]{
		    font-size: 60px;
	    }
	    td[class="aligncenter"]{
		    text-align: center !important;
		    margin: 0 auto !important;
	    }
	    td[class="section_h"]{
		    height: 25px !important;
	    }
	    td[class="padding_top_twenty"]{
	    		padding-top: 20px !important;
	    }
	    span[class="big_h"]{
	    		font-size: 16px;
	    }
	    table[id="bg1"]{
	    		background-size: 100% 220px !important;
	    }
	    table[id="bg2"]{
	    		background-size: 100% 180px !important;
	    }
	    table[id="bg3"]{
	    		background-size: 100% 250px !important;
	    }
	    table[id="bg4"]{
	    		background-size: 100% 180px !important;
	    }
    }
    
    @media screen and (max-width: 768px) and (min-width: 381px) {
	    .section_h{
		    height: 30px !important
	    }
    }

</style>

</head>

<body style="background-color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #393939; margin: 0 auto; width: 100%;">
     
	<table align="center" border="0" cellpadding="0" cellspacing="0" class="wrapper_table" style="width: 100%;">
   		<tr>
        		<td align="center" height="20">
               </td>
         	</tr>
         	<tr>
              	<td align="center" style="border-bottom: 1px solid #f5f5f5;">
                   	<table cellspacing="0" cellpadding="0" border="0">
                        	<tr>
                             	<td class="content" style="width: 800px;">
                             		<table cellspacing="0" cellpadding="0" border="0" width="100%">
                                       	<tr>
                                            	<td class="padding" style="width: 20px;">
                                            	</td>
                                            	<td class="content_row" align="center" style="width: 760px;">
                                                 	<table cellpadding="0" cellspacing="0" border="0" align="center" width="100%" class="mobile_centered_table">
                                                      	<tr>
                                                            <td height="10">
                                                            </td>
                                                       </tr>
                                                       <tr>
                                                            <td class="one_half" align="left" width="260" style="border-right: 1px solid #f5f5f5;">
                                                            	<table cellspacing="0" cellpadding="0" border="0">
                                                                 	<tr>
                                                                      	<td>
                                                                                <a href="#" style="text-decoration: none;">
                                                                                     <img src="http://1dev.2crefirms.com/images/logo.png" width="206" style="display: block;" border="0" alt="ODYSSEY"  />
                                                                                </a>
                                                                         	</td>
                                                                    	</tr>
                                                                      <tr>
                                                                           <td height="10">
                                                                           </td>
                                                                      </tr>
                                                               	</table>
                                                            </td>
                                                            <td class="nomobile" width="40">
                                                            </td>
                                                            <td class="one_half" align="right" width="400" data-editable style="font-family: 'Raleway', sans-serif; font-size: 16px; color: #444444; text-transform: uppercase;">
                                                                 <a href="#" style="text-decoration: none; color: #444444;">
                                                                      HOME
                                                                 </a>
                                                                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                 <a href="#" style="text-decoration: none; color: #444444;">
                                                                      BLOG
                                                                 </a>
                                                                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                 <a href="#" style="text-decoration: none; color: #444444;">
                                                                      BUY NOW
                                                                 </a>
                                                            </td>
                                                      	</tr>
                                                 	</table>
                                            	</td>
                                            	<td class="padding" style="width: 20px;">
                                            	</td>
                                       	</tr>
                                  	</table>
                             	</td>
                        	</tr>
                   	</table>
              	</td>
         	</tr>
     </table>
     <table align="center" border="0" cellpadding="0" cellspacing="0" class="wrapper_table" style="width: 100%;">
         	<tr>
               <td align="center" height="40">
               </td>
         	</tr>
     </table>
     <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" class="wrapper_table" style="width: 100%;">
          <tr>
          	<td data-editable align="center" class="content" style="width: 800px; font-family: 'Raleway', sans-serif; font-size: 30px; color: #444444; font-weight: 500;">
               	A Commercial Real Estate Firm Database
               </td>
          </tr>
     </table>
     <table align="center" border="0" cellpadding="0" cellspacing="0" class="wrapper_table" style="width: 100%;">
         	<tr>
               <td align="center" height="30">
               </td>
         	</tr>
     </table>
     <table align="center" border="0" cellpadding="0" cellspacing="0" class="wrapper_table" style="width: 100%;">
         	<tr>
              	<td align="center">
                   	<table cellspacing="0" cellpadding="0" border="0">
                        	<tr>
                             	<td class="content" style="width: 800px;">
                             		<table cellspacing="0" cellpadding="0" border="0" width="100%">
                                       	<tr>
                                            	<td class="padding" style="width: 20px;">
                                            	</td>
                                            	<td class="content_row" align="center" style="width: 760px;">
                                                 	<table cellpadding="0" cellspacing="0" border="0" align="center" width="100%" class="mobile_centered_table">
                                                      	<tr>
                                                       	<td class="one_third" align="center" width="500">
                                                            	<table cellspacing="0" cellpadding="0" border="0">
                                                                      <tr>
                                                                      	<td data-editable align="center" class="grey_text" style="font-family: 'Raleway', sans-serif; font-size: 18px; color: #777777; line-height: 25px; text-align:left;">
                                                                           	Hi name,<br/>
                                                                                <br/>
                                                                                We always offer some of the best possible support you can get here on the marketplace. Just email us and we'll be there to help.<br/>
                                                                                We always offer some of the best possible support you can get here on the marketplace. Just email us and we'll be there to help.
                                                                                <ul>
                                                                                	<li>
                                                                                     	Unlimited access to some stuff
                                                                                     </li>
                                                                                     <li>
                                                                                     	More awesome features from us
                                                                                     </li>
                                                                                     <li>
                                                                                     	Some amazing stuff that you need
                                                                                     </li>
                                                                                     <li>
                                                                                     	Awesomeness is about to get real
                                                                                     </li>
                                                                                </ul>
                                                                         	</td>
                                                                      </tr>
                                                                 </table>
                                                            </td>
                                                            <td class="nomobile" width="20">
                                                            </td>
                                                            <td valign="top" class="one_third" align="center" width="240">
                                                            	<img src="http://www.placehold.it/240x300" width="240" height="300" style="display: block;" border="0" />
                                                            </td>
                                                       </tr>
                                                 	</table>
                                            	</td>
                                            	<td class="padding" style="width: 20px;">
                                            	</td>
                                       	</tr>
                                  	</table>
                             	</td>
                        	</tr>
                   	</table>
              	</td>
         	</tr>
    	</table>
     <table align="center" border="0" cellpadding="0" cellspacing="0" class="wrapper_table" style="width: 100%;">
         	<tr>
               <td align="center" height="40">
               </td>
         	</tr>
     </table>
     <table align="center" border="0" cellpadding="0" cellspacing="0" class="wrapper_table" style="width: 100%;">
         	<tr>
              	<td align="center">
                   	<table cellspacing="0" cellpadding="0" border="0">
                        	<tr>
                             	<td class="content" style="width: 800px;">
                             		<table cellspacing="0" cellpadding="0" border="0" width="100%">
                                       	<tr>
                                            	<td class="padding" style="width: 20px;">
                                            	</td>
                                            	<td class="content_row" align="center" data-editable style="font-family: 'Raleway', sans-serif; font-size: 18px; color: #777777; line-height: 25px; text-align:left;">
                                             	Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat. Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat. Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.
                                            	</td>
                                            	<td class="padding" style="width: 20px;">
                                            	</td>
                                       	</tr>
                                  	</table>
                             	</td>
                        	</tr>
                   	</table>
              	</td>
         	</tr>
    	</table>
     <table align="center" border="0" cellpadding="0" cellspacing="0" class="wrapper_table" style="width: 100%;">
         	<tr>
               <td align="center" height="20">
               </td>
         	</tr>
     </table>
     <table align="center" border="0" cellpadding="0" cellspacing="0" class="wrapper_table" style="width: 100%;">
     	<tr>
               <td class="content" align="center">
                    <table class="mobile_centered_table" cellspacing="0" cellpadding="0" border="0">
                         <tr>
                              <td class="button mc_button" bgcolor="#3a539b" data-editable height="40" width="120" style="font-family: 'Open Sans', sans-serif; font-size: 12px; color: #ffffff; text-align: center; font-weight: bold; text-transform: uppercase; border-radius: 4px; border-bottom: 2px solid #1b357d;">
                                   <a class="button1_text" href="#" style="text-decoration: none; color: #ffffff;">
                                        Shop Now
                                   </a>
                              </td>
                         </tr>
                    </table>
               </td>
          </tr>
     </table>
     <table align="center" border="0" cellpadding="0" cellspacing="0" class="wrapper_table" style="width: 100%;">
         	<tr>
               <td align="center" height="20">
               </td>
         	</tr>
     </table>
     <table align="center" border="0" cellpadding="0" cellspacing="0" class="wrapper_table" style="width: 100%;">
     	<tr>
              	<td align="center">
                   	<table cellspacing="0" cellpadding="0" border="0">
                        	<tr>
                             	<td class="content" style="width: 800px;">
                             		<table cellspacing="0" cellpadding="0" border="0" width="100%">
                                       	<tr>
                                            	<td class="padding" style="width: 20px;">
                                            	</td>
                                            	<td class="content_row" align="left" style="width: 760px;">
                                                 	<table cellpadding="0" cellspacing="0" border="0" class="mobile_centered_table">
                                                      	<tr>
                                                            <td class="button mc_button" bgcolor="#3a539b" data-editable height="40" width="120" style="font-family: 'Open Sans', sans-serif; font-size: 12px; color: #ffffff; text-align: center; font-weight: bold; text-transform: uppercase; border-radius: 4px; border-bottom: 2px solid #1b357d;">
                                                                 <a class="button1_text" href="#" style="text-decoration: none; color: #ffffff;">
                                                                      Shop Now
                                                                 </a>
                                                            </td>
                                                    	</tr>
                                               	</table>
                                         	</td>
                                             <td class="padding" style="width: 20px;">
                                            	</td>
                                     	</tr>
                                 	</table>
                           	</td>
                         </tr>
                    </table>
               </td>
          </tr>
     </table>
     
     <table align="center" border="0" cellpadding="0" cellspacing="0" class="wrapper_table" style="width: 100%;">
         	<tr>
               <td align="center" height="20">
               </td>
         	</tr>
     </table>
     <table align="center" border="0" cellpadding="0" cellspacing="0" class="wrapper_table" style="width: 100%;">
     	<tr>
              	<td align="center">
                   	<table cellspacing="0" cellpadding="0" border="0">
                        	<tr>
                             	<td class="content" style="width: 800px;">
                             		<table cellspacing="0" cellpadding="0" border="0" width="100%">
                                       	<tr>
                                            	<td class="padding" style="width: 20px;">
                                            	</td>
                                            	<td class="content_row" align="right" style="width: 760px;">
                                                 	<table cellpadding="0" cellspacing="0" border="0" class="mobile_centered_table">
                                                      	<tr>
                                                            <td class="button mc_button" bgcolor="#3a539b" data-editable height="40" width="120" style="font-family: 'Open Sans', sans-serif; font-size: 12px; color: #ffffff; text-align: center; font-weight: bold; text-transform: uppercase; border-radius: 4px; border-bottom: 2px solid #1b357d;">
                                                                 <a class="button1_text" href="#" style="text-decoration: none; color: #ffffff;">
                                                                      Shop Now
                                                                 </a>
                                                            </td>
                                                    	</tr>
                                               	</table>
                                         	</td>
                                             <td class="padding" style="width: 20px;">
                                            	</td>
                                     	</tr>
                                 	</table>
                           	</td>
                         </tr>
                    </table>
               </td>
          </tr>
     </table>
     
     <table align="center" border="0" cellpadding="0" cellspacing="0" class="wrapper_table" style="width: 100%;">
         	<tr>
               <td align="center" height="40">
               </td>
         	</tr>
     </table>
     <table align="center" border="0" cellpadding="0" cellspacing="0" class="wrapper_table" style="width: 100%;">
     	<tr>
              	<td align="center">
                   	<table cellspacing="0" cellpadding="0" border="0">
                        	<tr>
                             	<td class="content" style="width: 800px;">
                             		<table cellspacing="0" cellpadding="0" border="0" width="100%">
                                       	<tr>
                                            	<td class="padding" style="width: 20px;">
                                            	</td>
                                            	<td class="content_row" align="center" style="width: 760px;">
                                                 	<table cellpadding="0" cellspacing="0" border="0" class="mobile_centered_table" width="100%">
                                                      	<tr>
                                                            <td class="button mc_button" bgcolor="#3a539b" data-editable height="40" width="120" style="font-family: 'Open Sans', sans-serif; font-size: 12px; color: #ffffff; text-align: center; font-weight: bold; text-transform: uppercase; border-radius: 4px; border-bottom: 2px solid #1b357d;">
                                                                 <a class="button1_text" href="#" style="text-decoration: none; color: #ffffff;">
                                                                      Shop Now
                                                                 </a>
                                                            </td>
                                                    	</tr>
                                               	</table>
                                         	</td>
                                             <td class="padding" style="width: 20px;">
                                            	</td>
                                     	</tr>
                                 	</table>
                           	</td>
                         </tr>
                    </table>
               </td>
          </tr>
     </table>
     <table align="center" border="0" cellpadding="0" cellspacing="0" class="wrapper_table" style="width: 100%;">
         	<tr>
               <td align="center" height="40">
               </td>
         	</tr>
     </table>
     <table align="center" border="0" cellpadding="0" cellspacing="0" class="wrapper_table" style="width: 100%;">
         	<tr>
              	<td align="center">
                   	<table cellspacing="0" cellpadding="0" border="0">
                        	<tr>
                             	<td class="content" style="width: 800px;">
                             		<table cellspacing="0" cellpadding="0" border="0" width="100%">
                                       	<tr>
                                            	<td class="padding" style="width: 20px;">
                                            	</td>
                                            	<td class="content_row" align="center" style="width: 760px;">
                                                 	<table cellpadding="0" cellspacing="0" border="0" align="center" width="100%" class="mobile_centered_table">
                                                      	<tr>
                                                       	<td class="one_third" align="center" width="480">
                                                            	<table cellspacing="0" cellpadding="0" border="0">
                                                                      <tr>
                                                                      	<td data-editable align="center" class="grey_text" style="font-family: 'Raleway', sans-serif; font-size: 18px; color: #777777; line-height: 25px; text-align:left;">
                                                                                We always offer some of the best possible support you can get here on the marketplace. Just email us and we'll be there to help.<br/>
                                                                                We always offer some of the best possible support you can get here on the marketplace. Just email us and we'll be there to help.
                                                                         	</td>
                                                                      </tr>
                                                                 </table>
                                                            </td>
                                                            <td class="nomobile" width="20" style="border-right: 1px solid #cccccc;">
                                                            </td>
                                                            <td class="nomobile" width="20">
                                                            </td>
                                                            <td valign="middle" class="one_third" align="center" width="240">
                                                            	<table cellspacing="0" cellpadding="0" border="0">
                                                                 	<tr>
                                                                      	<td width="25%">
                                                                           	<img src="http://www.placehold.it/50x50" height="50" width="50" style="display: block;" border="0" alt="" />
                                                                           </td>
                                                                           <td width="10%">
                                                                           </td>
                                                                           <td width="65%">
                                                                           	Email Address
                                                                           </td>
                                                                      </tr>
                                                                      <tr>
                                                                      	<td colspan="3" height="30">
                                                                           </td>
                                                                      </tr>
                                                                      <tr>
                                                                      	<td width="25%">
                                                                           	<img src="http://www.placehold.it/50x50" height="50" width="50" style="display: block;" border="0" alt="" />
                                                                           </td>
                                                                           <td width="10%">
                                                                           </td>
                                                                           <td width="65%">
                                                                           	Email Address
                                                                           </td>
                                                                      </tr>
                                                                 </table>
                                                            </td>
                                                       </tr>
                                                 	</table>
                                            	</td>
                                            	<td class="padding" style="width: 20px;">
                                            	</td>
                                       	</tr>
                                  	</table>
                             	</td>
                        	</tr>
                   	</table>
              	</td>
         	</tr>
    	</table>
     <table align="center" border="0" cellpadding="0" cellspacing="0" class="wrapper_table" style="width: 100%;">
         	<tr>
               <td align="center" height="40">
               </td>
         	</tr>
     </table>
     <table align="center" border="0" cellpadding="0" cellspacing="0" class="wrapper_table" style="width: 100%; background-color: #333333;">
         	<tr>
          	<td height="15">
               </td>
          </tr>
          <tr>
              	<td align="center">
                   	<table cellspacing="0" cellpadding="0" border="0">
                        	<tr>
                             	<td class="content" style="width: 800px;">
                             		<table cellspacing="0" cellpadding="0" border="0" width="100%">
                                       	<tr>
                                            	<td class="padding" style="width: 20px;">
                                            	</td>
                                            	<td class="content_row" align="center" style="width: 760px;">
                                                 	<table cellpadding="0" cellspacing="0" border="0" align="center" width="100%" class="mobile_centered_table">
                                                      	<tr>
                                                            <td valign="top" class="one_third" align="center" width="100" style="font-family:'Lato', sans-serif; color: #5b5b5a; font-size: 26px;">
                                                            	CREfirms
                                                            </td>
                                                            <td class="nomobile" width="20">
                                                            </td>
                                                       	<td class="one_third" align="right" width="660">
                                                            	<table cellspacing="0" cellpadding="0" border="0">
                                                                      <tr>
                                                                      	<td data-editable align="center" class="grey_text" style="font-family: 'Raleway', sans-serif; font-size: 13px; color: #777777; line-height: 25px; text-align:right;">
                                                                           	<a href="#" style="text-decoration: none; color: #5b5b5b;">
                                                                                	Contact
                                                                               	</a>
                                                                                /
                                                                                <a href="#" style="text-decoration: none; color: #5b5b5b;">
                                                                                	About
                                                                               	</a>
                                                                                /
                                                                                <a href="#" style="text-decoration: none; color: #5b5b5b;">
                                                                                	FAQ
                                                                               	</a>
                                                                                /
                                                                                <a href="#" style="text-decoration: none; color: #5b5b5b;">
                                                                                	Terms
                                                                               	</a>
                                                                                /
                                                                                <a href="#" style="text-decoration: none; color: #5b5b5b;">
                                                                                	Privacy
                                                                              	</a>
                                                                                /
                                                                                <a href="#" style="text-decoration: none; color: #5b5b5b;">
                                                                                	Site Map
                                                                               	</a>
                                                                                /
                                                                                <a href="#" style="text-decoration: none; color: #5b5b5b;">
                                                                                	Blog
                                                                               	</a>
                                                                         	</td>
                                                                      </tr>
                                                                 </table>
                                                            </td>
                                                       </tr>
                                                 	</table>
                                            	</td>
                                            	<td class="padding" style="width: 20px;">
                                            	</td>
                                       	</tr>
                                  	</table>
                             	</td>
                        	</tr>
                   	</table>
              	</td>
         	</tr>
          <tr>
          	<td height="15">
               </td>
          </tr>
    	</table>
</body>
</html>