<!-- 1 start -->
<ul>
	<li class="email-element">
  		<table align="center" border="0" cellpadding="0" cellspacing="0" class="wrapper_table" style="width: 100%;">
               <tr>
                    <td align="center" height="20">
                    </td>
               </tr>
               <tr>
                    <td align="center" style="border-bottom: 1px solid #f5f5f5;">
                         <table cellspacing="0" cellpadding="0" border="0">
                              <tr>
                                   <td class="content" style="width: 600px;">
                                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                             <tr>
                                                  <td class="padding" style="width: 10px;">
                                                  </td>
                                                  <td class="content_row" align="center" style="width: 580px;">
                                                       <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%" class="mobile_centered_table">
                                                            <tr>
                                                                 <td height="10">
                                                                 </td>
                                                            </tr>
                                                            <tr>
                                                                 <td class="one_half" align="left" width="260" style="border-right: 1px solid #f5f5f5;">
                                                                      <table cellspacing="0" cellpadding="0" border="0">
                                                                           <tr>
                                                                                <td>
                                                                                     <a href="#" style="text-decoration: none;">
                                                                                          <img src="http://1dev.2crefirms.com/images/logo.png" width="206" style="display: block;" border="0" alt="ODYSSEY"  />
                                                                                     </a>
                                                                                </td>
                                                                           </tr>
                                                                           <tr>
                                                                                <td height="10">
                                                                                </td>
                                                                           </tr>
                                                                      </table>
                                                                 </td>
                                                                 <td class="nomobile" width="40">
                                                                 </td>
                                                                 <td class="one_half" align="right" width="400" data-editable style="font-family: 'Raleway', sans-serif; font-size: 16px; color: #444444; text-transform: uppercase;">
                                                                      <a href="#" style="text-decoration: none; color: #444444;">
                                                                           HOME
                                                                      </a>
                                                                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                      <a href="#" style="text-decoration: none; color: #444444;">
                                                                           BLOG
                                                                      </a>
                                                                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                      <a href="#" style="text-decoration: none; color: #444444;">
                                                                           BUY NOW
                                                                      </a>
                                                                 </td>
                                                            </tr>
                                                       </table>
                                                  </td>
                                                  <td class="padding" style="width: 10px;">
                                                  </td>
                                             </tr>
                                        </table>
                                   </td>
                              </tr>
                         </table>
                    </td>
               </tr>
          </table>
    	</li>
     <li class="email-element">
          <table align="center" border="0" cellpadding="0" cellspacing="0" class="wrapper_table" style="width: 100%;">
               <tr>
                    <td align="center" height="40">
                    </td>
               </tr>
          </table>
    	</li>
     <li class="email-element">
          <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" class="wrapper_table" style="width: 100%;">
               <tr>
                    <td data-editable align="center" class="content" style="width: 600px; font-family: 'Raleway', sans-serif; font-size: 30px; color: #444444; font-weight: 500;">
                         A Commercial Real Estate Firm Database
                    </td>
               </tr>
          </table>
    	</li>
     <li class="email-element">
          <table align="center" border="0" cellpadding="0" cellspacing="0" class="wrapper_table" style="width: 100%;">
               <tr>
                    <td align="center" height="15">
                    </td>
               </tr>
          </table>
    	</li>
     <li class="email-element">
          <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" class="wrapper_table" style="width: 100%;">
               <tr>
                    <td data-editable align="center" class="content" style="width: 600px; font-family: 'Raleway', sans-serif; font-size: 20px; color: #3a539b; font-weight: 500;">
                         A Commercial Real Estate Firm Database
                    </td>
               </tr>
          </table>
    	</li>
     <li class="email-element">
          <table align="center" border="0" cellpadding="0" cellspacing="0" class="wrapper_table" style="width: 100%;">
               <tr>
                    <td align="center" height="30">
                    </td>
               </tr>
          </table>
    	</li>
     <li class="email-element">
          <table align="center" border="0" cellpadding="0" cellspacing="0" class="wrapper_table" style="width: 100%;">
               <tr>
                    <td align="center">
                         <table cellspacing="0" cellpadding="0" border="0">
                              <tr>
                                   <td class="content" style="width: 600px;">
                                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                             <tr>
                                                  <td class="padding" style="width: 10px;">
                                                  </td>
                                                  <td class="content_row" align="center" style="width: 580px;">
                                                       <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%" class="mobile_centered_table">
                                                            <tr>
                                                                 <td class="one_third" align="center" width="500">
                                                                      <table cellspacing="0" cellpadding="0" border="0">
                                                                           <tr>
                                                                                <td data-editable align="center" class="grey_text" style="font-family: 'Raleway', sans-serif; font-size: 18px; color: #777777; line-height: 25px; text-align:left;">
                                                                                     Hi name,<br/>
                                                                                     <br/>
                                                                                     We always offer some of the best possible support you can get here on the marketplace. Just email us and we'll be there to help.<br/>
                                                                                     We always offer some of the best possible support you can get here on the marketplace. Just email us and we'll be there to help.
                                                                                     <ul>
                                                                                          <li>
                                                                                               Unlimited access to some stuff
                                                                                          </li>
                                                                                          <li>
                                                                                               More awesome features from us
                                                                                          </li>
                                                                                          <li>
                                                                                               Some amazing stuff that you need
                                                                                          </li>
                                                                                          <li>
                                                                                               Awesomeness is about to get real
                                                                                          </li>
                                                                                     </ul>
                                                                                </td>
                                                                           </tr>
                                                                      </table>
                                                                 </td>
                                                                 <td class="nomobile" width="20">
                                                                 </td>
                                                                 <td valign="top" class="one_third" align="center" width="240">
                                                                      <img src="http://www.placehold.it/240x300" width="240" height="300" style="display: block;" border="0" />
                                                                 </td>
                                                            </tr>
                                                       </table>
                                                  </td>
                                                  <td class="padding" style="width: 10px;">
                                                  </td>
                                             </tr>
                                        </table>
                                   </td>
                              </tr>
                         </table>
                    </td>
               </tr>
          </table>
    	</li>
     <li class="email-element">
          <table align="center" border="0" cellpadding="0" cellspacing="0" class="wrapper_table" style="width: 100%;">
               <tr>
                    <td align="center" height="40">
                    </td>
               </tr>
          </table>
    	</li>
     <li class="email-element">
          <table align="center" border="0" cellpadding="0" cellspacing="0" class="wrapper_table" style="width: 100%;">
               <tr>
                    <td align="center">
                         <table cellspacing="0" cellpadding="0" border="0">
                              <tr>
                                   <td class="content" style="width: 600px;">
                                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                             <tr>
                                                  <td class="padding" style="width: 10px;">
                                                  </td>
                                                  <td class="content_row" align="center" style="width: 580px;">
                                                       <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%" class="mobile_centered_table">
                                                            <tr>
                                                                 <td class="one_third" align="center" width="500">
                                                                      <table cellspacing="0" cellpadding="0" border="0">
                                                                           <tr>
                                                                                <td data-editable align="center" class="grey_text" style="font-family: 'Raleway', sans-serif; font-size: 18px; color: #777777; line-height: 25px; text-align:left;">
                                                                                     We always offer some of the best possible support you can get here on the marketplace. Just email us and we'll be there to help.<br/>
                                                                                     We always offer some of the best possible support you can get here on the marketplace. Just email us and we'll be there to help.
                                                                                     <ul>
                                                                                          <li>
                                                                                               Unlimited access to some stuff
                                                                                          </li>
                                                                                          <li>
                                                                                               More awesome features from us
                                                                                          </li>
                                                                                          <li>
                                                                                               Some amazing stuff that you need
                                                                                          </li>
                                                                                          <li>
                                                                                               Awesomeness is about to get real
                                                                                          </li>
                                                                                     </ul>
                                                                                </td>
                                                                           </tr>
                                                                      </table>
                                                                 </td>
                                                                 <td class="nomobile" width="20">
                                                                 </td>
                                                                 <td valign="top" class="one_third" align="center" width="240">
                                                                      <img src="http://www.placehold.it/300x350" width="300" height="350" style="display: block;" border="0" />
                                                                 </td>
                                                            </tr>
                                                       </table>
                                                  </td>
                                                  <td class="padding" style="width: 10px;">
                                                  </td>
                                             </tr>
                                        </table>
                                   </td>
                              </tr>
                         </table>
                    </td>
               </tr>
          </table>
    	</li>
     <li class="email-element">
          <table align="center" border="0" cellpadding="0" cellspacing="0" class="wrapper_table" style="width: 100%;">
               <tr>
                    <td align="center" height="40">
                    </td>
               </tr>
          </table>
    	</li>
     <li class="email-element">
          <table align="center" border="0" cellpadding="0" cellspacing="0" class="wrapper_table" style="width: 100%;">
               <tr>
                    <td align="center">
                         <table cellspacing="0" cellpadding="0" border="0">
                              <tr>
                                   <td class="content" style="width: 600px;">
                                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                             <tr>
                                                  <td class="padding" style="width: 10px;">
                                                  </td>
                                                  <td class="content_row" align="center" data-editable style="font-family: 'Raleway', sans-serif; font-size: 18px; color: #777777; line-height: 25px; text-align:left;">
                                                       Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat. Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat. Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.
                                                  </td>
                                                  <td class="padding" style="width: 10px;">
                                                  </td>
                                             </tr>
                                        </table>
                                   </td>
                              </tr>
                         </table>
                    </td>
               </tr>
          </table>
    	</li>
     <li class="email-element">
          <table align="center" border="0" cellpadding="0" cellspacing="0" class="wrapper_table" style="width: 100%;">
               <tr>
                    <td align="center" height="20">
                    </td>
               </tr>
          </table>
    	</li>
     <li class="email-element">
          <table align="center" border="0" cellpadding="0" cellspacing="0" class="wrapper_table" style="width: 100%;">
               <tr>
                    <td class="content" align="center">
                         <table class="mobile_centered_table" cellspacing="0" cellpadding="0" border="0">
                              <tr>
                                   <td class="button mc_button" bgcolor="#3a539b" data-editable height="40" width="120" style="font-family: 'Open Sans', sans-serif; font-size: 12px; color: #ffffff; text-align: center; font-weight: bold; text-transform: uppercase; border-radius: 4px;">
                                        <a class="button1_text" href="#" style="text-decoration: none; color: #ffffff;">
                                             Shop Now
                                        </a>
                                   </td>
                              </tr>
                         </table>
                    </td>
               </tr>
          </table>
    	</li>
     <li class="email-element">
          <table align="center" border="0" cellpadding="0" cellspacing="0" class="wrapper_table" style="width: 100%;">
               <tr>
                    <td align="center" height="20">
                    </td>
               </tr>
          </table>
    	</li>
     <li class="email-element">
          <table align="center" border="0" cellpadding="0" cellspacing="0" class="wrapper_table" style="width: 100%;">
               <tr>
                    <td align="center">
                         <table cellspacing="0" cellpadding="0" border="0">
                              <tr>
                                   <td class="content" style="width: 600px;">
                                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                             <tr>
                                                  <td class="padding" style="width: 10px;">
                                                  </td>
                                                  <td class="content_row" align="left" style="width: 580px;">
                                                       <table cellpadding="0" cellspacing="0" border="0" class="mobile_centered_table">
                                                            <tr>
                                                                 <td class="button mc_button" bgcolor="#3a539b" data-editable height="40" width="120" style="font-family: 'Open Sans', sans-serif; font-size: 12px; color: #ffffff; text-align: center; font-weight: bold; text-transform: uppercase; border-radius: 4px;">
                                                                      <a class="button1_text" href="#" style="text-decoration: none; color: #ffffff;">
                                                                           Shop Now
                                                                      </a>
                                                                 </td>
                                                            </tr>
                                                       </table>
                                                  </td>
                                                  <td class="padding" style="width: 10px;">
                                                  </td>
                                             </tr>
                                        </table>
                                   </td>
                              </tr>
                         </table>
                    </td>
               </tr>
          </table>
    	</li>
     <li class="email-element">
          <table align="center" border="0" cellpadding="0" cellspacing="0" class="wrapper_table" style="width: 100%;">
               <tr>
                    <td align="center" height="20">
                    </td>
               </tr>
          </table>
    	</li>
     <li class="email-element">
          <table align="center" border="0" cellpadding="0" cellspacing="0" class="wrapper_table" style="width: 100%;">
               <tr>
                    <td align="center">
                         <table cellspacing="0" cellpadding="0" border="0">
                              <tr>
                                   <td class="content" style="width: 600px;">
                                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                             <tr>
                                                  <td class="padding" style="width: 10px;">
                                                  </td>
                                                  <td class="content_row" align="right" style="width: 580px;">
                                                       <table cellpadding="0" cellspacing="0" border="0" class="mobile_centered_table">
                                                            <tr>
                                                                 <td class="button mc_button" bgcolor="#3a539b" data-editable height="40" width="120" style="font-family: 'Open Sans', sans-serif; font-size: 12px; color: #ffffff; text-align: center; font-weight: bold; text-transform: uppercase; border-radius: 4px;">
                                                                      <a class="button1_text" href="#" style="text-decoration: none; color: #ffffff;">
                                                                           Shop Now
                                                                      </a>
                                                                 </td>
                                                            </tr>
                                                       </table>
                                                  </td>
                                                  <td class="padding" style="width: 10px;">
                                                  </td>
                                             </tr>
                                        </table>
                                   </td>
                              </tr>
                         </table>
                    </td>
               </tr>
          </table>
    	</li>
     <li class="email-element">
          <table align="center" border="0" cellpadding="0" cellspacing="0" class="wrapper_table" style="width: 100%;">
               <tr>
                    <td align="center" height="40">
                    </td>
               </tr>
          </table>
    	</li>
     <li class="email-element">
          <table align="center" border="0" cellpadding="0" cellspacing="0" class="wrapper_table" style="width: 100%;">
               <tr>
                    <td align="center">
                         <table cellspacing="0" cellpadding="0" border="0">
                              <tr>
                                   <td class="content" style="width: 600px;">
                                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                             <tr>
                                                  <td class="padding" style="width: 10px;">
                                                  </td>
                                                  <td class="content_row" align="center" style="width: 580px;">
                                                       <table cellpadding="0" cellspacing="0" border="0" class="mobile_centered_table" width="100%">
                                                            <tr>
                                                                 <td class="button mc_button" bgcolor="#3a539b" data-editable height="40" width="120" style="font-family: 'Open Sans', sans-serif; font-size: 12px; color: #ffffff; text-align: center; font-weight: bold; text-transform: uppercase; border-radius: 4px;">
                                                                      <a class="button1_text" href="#" style="text-decoration: none; color: #ffffff;">
                                                                           Shop Now
                                                                      </a>
                                                                 </td>
                                                            </tr>
                                                       </table>
                                                  </td>
                                                  <td class="padding" style="width: 10px;">
                                                  </td>
                                             </tr>
                                        </table>
                                   </td>
                              </tr>
                         </table>
                    </td>
               </tr>
          </table>
    	</li>
     <li class="email-element">
          <table align="center" border="0" cellpadding="0" cellspacing="0" class="wrapper_table" style="width: 100%;">
               <tr>
                    <td align="center" height="40">
                    </td>
               </tr>
          </table>
    	</li>
     <li class="email-element">
          <table align="center" border="0" cellpadding="0" cellspacing="0" class="wrapper_table" style="width: 100%;">
               <tr>
                    <td align="center">
                         <table cellspacing="0" cellpadding="0" border="0">
                              <tr>
                                   <td class="content" style="width: 600px;">
                                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                             <tr>
                                                  <td class="padding" style="width: 10px;">
                                                  </td>
                                                  <td class="content_row" align="center" style="width: 580px;">
                                                       <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%" class="mobile_centered_table">
                                                            <tr>
                                                                 <td class="one_third" align="center" width="480">
                                                                      <table cellspacing="0" cellpadding="0" border="0">
                                                                           <tr>
                                                                                <td data-editable align="center" class="grey_text" style="font-family: 'Raleway', sans-serif; font-size: 18px; color: #777777; line-height: 25px; text-align:left;">
                                                                                     We always offer some of the best possible support you can get here on the marketplace. Just email us and we'll be there to help.<br/>
                                                                                     We always offer some of the best possible support you can get here on the marketplace. Just email us and we'll be there to help.
                                                                                </td>
                                                                           </tr>
                                                                      </table>
                                                                 </td>
                                                                 <td class="nomobile" width="20" style="border-right: 1px solid #cccccc;">
                                                                 </td>
                                                                 <td class="nomobile" width="20">
                                                                 </td>
                                                                 <td valign="middle" class="one_third" align="center" width="240">
                                                                      <table cellspacing="0" cellpadding="0" border="0">
                                                                           <tr>
                                                                                <td width="25%">
                                                                                     <img src="http://www.placehold.it/60x60" height="60" width="60" style="display: block;" border="0" alt="" />
                                                                                </td>
                                                                                <td width="10%">
                                                                                </td>
                                                                                <td width="65%" data-editable>
                                                                                     Email Address
                                                                                </td>
                                                                           </tr>
                                                                           <tr>
                                                                                <td colspan="3" height="30">
                                                                                </td>
                                                                           </tr>
                                                                           <tr>
                                                                                <td width="25%">
                                                                                     <img src="http://www.placehold.it/60x60" height="60" width="60" style="display: block;" border="0" alt="" />
                                                                                </td>
                                                                                <td width="10%">
                                                                                </td>
                                                                                <td width="65%" data-editable>
                                                                                     Email Address
                                                                                </td>
                                                                           </tr>
                                                                      </table>
                                                                 </td>
                                                            </tr>
                                                       </table>
                                                  </td>
                                                  <td class="padding" style="width: 10px;">
                                                  </td>
                                             </tr>
                                        </table>
                                   </td>
                              </tr>
                         </table>
                    </td>
               </tr>
          </table>
    	</li>
     <li class="email-element">
          <table align="center" border="0" cellpadding="0" cellspacing="0" class="wrapper_table" style="width: 100%;">
               <tr>
                    <td align="center" height="40">
                    </td>
               </tr>
          </table>
    	</li>
     <li class="email-element">
          <table align="center" border="0" cellpadding="0" cellspacing="0" class="wrapper_table" style="width: 100%; background-color: #333333;">
               <tr>
                    <td height="15">
                    </td>
               </tr>
               <tr>
                    <td align="center">
                         <table cellspacing="0" cellpadding="0" border="0">
                              <tr>
                                   <td class="content" style="width: 600px;">
                                        <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                             <tr>
                                                  <td class="padding" style="width: 10px;">
                                                  </td>
                                                  <td class="content_row" align="center" style="width: 580px;">
                                                       <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%" class="mobile_centered_table">
                                                            <tr>
                                                                 <td valign="top" class="one_third" align="center" width="100" style="font-family:'Lato', sans-serif; color: #5b5b5a; font-size: 26px;">
                                                                      CREfirms
                                                                 </td>
                                                                 <td class="nomobile" width="20">
                                                                 </td>
                                                                 <td class="one_third" align="right" width="660">
                                                                      <table cellspacing="0" cellpadding="0" border="0">
                                                                           <tr>
                                                                                <td data-editable align="center" class="grey_text" style="font-family: 'Raleway', sans-serif; font-size: 13px; color: #777777; line-height: 25px; text-align:right;">
                                                                                     <a href="#" style="text-decoration: none; color: #5b5b5b;">
                                                                                          Privacy
                                                                                     </a>
                                                                                     /
                                                                                     <a href="#" style="text-decoration: none; color: #5b5b5b;">
                                                                                          Site Map
                                                                                     </a>
                                                                                     /
                                                                                     <a href="#" style="text-decoration: none; color: #5b5b5b;">
                                                                                          Blog
                                                                                     </a>
                                                                                </td>
                                                                           </tr>
                                                                      </table>
                                                                 </td>
                                                            </tr>
                                                       </table>
                                                  </td>
                                                  <td class="padding" style="width: 10px;">
                                                  </td>
                                             </tr>
                                        </table>
                                   </td>
                              </tr>
                         </table>
                    </td>
               </tr>
               <tr>
                    <td height="15">
                    </td>
               </tr>
          </table>
   	</li>
</body>
</html>