<!doctype html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<title>Landing page</title>
	<meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/screen.css">

</head>
<body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->

      <div id="home" class="main-content">
      	<section>
      		<img src="images/LP_01.png" width="1920" alt="Welcome To Snoopy Industries" />
      	</section>

      	<section class="new_lp">
      		<div class="container">
      			<div class="row">
      				<div class="col-md-12">
      					<div class="text-center">
      						<h2>Choose any pre-made layout</h2>
      						<span class="stars">
      							<img src="images/LP_04.png" width="31" alt="" />
      							<img src="images/LP_04.png" width="31" alt="" />
      							<img src="images/LP_04.png" width="31" alt="" />
      							<img src="images/LP_04.png" width="31" alt="" />
      							<img src="images/LP_04.png" width="31" alt="" />
      						</span>
      						<p>For <strong style="color: #02bfb5;">Strato</strong> we created many pre-defined homepages to show endless possibilities of this product. Pick up one of<br/> them, or upload whole content just like on our demo version.</p>
      					</div>
      				</div>
      			</div>

      			<ul class="preview-items row uppercase text-center">
      				<li class="preview">
      					<div class="demo-1"><a target="_blank" href="http://labs.am-themes.com/e_builder/?theme=strato&v=1"></a></div>
      					<span class="prev_title">
      						<span>Strato</span> Business 1
      					</span>
      				</li>
      				<li class="preview">
      					<div class="demo-2"><a target="_blank" href="http://labs.am-themes.com/e_builder/?theme=strato&v=2"></a></div>
      					<span class="prev_title">
      						<span>Strato</span> Marketing
      					</span>
      				</li>
      				<li class="preview">
      					<div class="demo-3"><a target="_blank" href="http://labs.am-themes.com/e_builder/?theme=strato&v=3"></a></div>
      					<span class="prev_title">
      						<span>Strato</span> Business 2
      					</span>
      				</li>
      				<li class="preview">
      					<div class="demo-4"><a target="_blank" href="http://labs.am-themes.com/e_builder/?theme=strato&v=4"></a></div>
      					<span class="prev_title">
      						<span>Strato</span> Hosting
      					</span>
      				</li>
      				<li class="preview">
      					<div class="demo-5"><a target="_blank" href="http://labs.am-themes.com/e_builder/?theme=strato&v=5"></a></div>
      					<span class="prev_title">
      						<span>Strato</span> Business 3
      					</span>
      				</li>
      				<li class="preview">
      					<div class="demo-6"><a target="_blank" href="http://labs.am-themes.com/e_builder/?theme=strato&v=6"></a></div>
      					<span class="prev_title">
      						<span>Strato</span> Business 4
      					</span>
      				</li>
      				<li class="preview">
      					<div class="demo-7"><a target="_blank" href="http://labs.am-themes.com/e_builder/?theme=strato&v=7"></a></div>
      					<span class="prev_title">
      						<span>Strato</span> Personal
      					</span>
      				</li>
      			</ul>

      			<div class="row buttons_centered">
      				<a target="_blank" href="http://themeforest.net/item/strato-responsive-email-builder-access/10720198?ref=SnoopyIndustries" class="button purchase">Purchase Now</a>
      				<a target="_blank" href="http://labs.am-themes.com/e_builder/?theme=strato" class="button builder">Go To Builder</a>
      			</div>
      		</div>
      	</section> <!-- /.demo-box -->

      	<section class="full_demo">
      		<div class="container">
      			<div class="row">
      				<div class="col-md-12">
      					<div class="text-center">
      						<h2>Build a new layout from scratch</h2>
      						<span class="stars">
      							<img src="images/LP_05.png" width="31" alt="" />
      							<img src="images/LP_05.png" width="31" alt="" />
      							<img src="images/LP_05.png" width="31" alt="" />
      							<img src="images/LP_05.png" width="31" alt="" />
      							<img src="images/LP_05.png" width="31" alt="" />
      						</span>
      						<p>With <strong style="color: #ffffff;">Strato</strong> you can easily go in and create your own customized layout simply by duplicating or hiding the<br/> available pannels. Put your imagination to the test and create an amazing layout.</p>
      					</div>
      				</div>
      			</div>
      		</div>
                  <div class="">
                        <div class="col-md-12">
            			<div class="full_demo_img_holder">
            				<img src="images/LP_08.png" alt="">
            			</div>
            			<div class="row buttons_centered">
            				<a target="_blank" href="http://themeforest.net/item/strato-responsive-email-builder-access/10720198?ref=SnoopyIndustries" class="button purchase">Purchase Now</a>
            				<a target="_blank" href="http://labs.am-themes.com/e_builder/?theme=strato" class="button builder">Go To Builder</a>
            			</div>
                        </div>
                        <div class="clearfix"></div>
                  </div>
      	</section>
      	<footer class="copyright-info">
      		<div class="container">
      			<div class="row">
      				<div class="col-md-12">
      					<p class="text-center">Copyright 2015 <a target="_blank" href="http://themeforest.net/user/SnoopyIndustries">Snoopy Industries</a>   All rights reserved.</p>
      				</div>
      			</div>
      		</div>
      	</footer> <!-- /.copyright-info -->
      </div> <!--  /.main-content -->
  </body>
  </html>
