<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Landing page</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link href='http://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/screen.css">

  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div id="home" class="main-content">
      <section class="demo-box">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="text-center">
              	<center><img src="images/si.png" style="display: block;" balt="" /></center>
                <br/>
                <h2>Choose Your Favourite Layout</h2>
                <p>Tip - Both available with the same purchase</p>
              </div>
            </div>
          </div>

          <ul class="preview-items row uppercase text-center">
            <li class="col-md-6 col-xs-6">
              <div class="demo-1"><a href="http://labs.am-themes.com/e_builder/?theme=cvcorporate"></a></div>
              Corporate Edition
            </li>
            <li class="col-md-6 col-xs-6">              
              <div class="demo-2"><a href="http://labs.am-themes.com/e_builder/?theme=cv"></a></div>
              Artistic Edition
            </li>
          </ul>


        </div>
      </section> <!-- /.demo-box -->
      <footer class="copyright-info">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <p class="text-center">Copyright 2014 <a href="http://themeforest.net/user/SnoopyIndustries">Snoopy Industries</a>   All rights reserved.</p>
              </div>
            </div>
          </div>
      </footer> <!-- /.copyright-info -->
    </div> <!--  /.main-content -->
</body>
</html>
